[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grizzly885
[access "refs/for/refs/*"]
	read = group user/grizzly885
	push = group user/grizzly885
	label-Code-Review = -2..+2 group user/grizzly885
	label-Verified = -1..+1 group user/grizzly885
	rebase = group user/grizzly885
	removeReviewer = group user/grizzly885
	submit = group user/grizzly885
[access "refs/heads/*"]
	read = group user/grizzly885
	create = group user/grizzly885
	push = +force group user/grizzly885
	pushMerge = group user/grizzly885
[access "refs/tags/*"]
	push = +force group user/grizzly885
	pushTag = group user/grizzly885
	pushSignedTag = group user/grizzly885
